*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  //padding: 3.5rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #8affef;
}

.App::before {    
  content: "";
  background-image: url('./imgs/shopping-img.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.45;
}


form{
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  width: 350px;
}

.form-control{
  display: flex !important;
  flex-direction: row !important;
  margin: 0 auto;
}

.addTodoBtn{
  margin-left: 5px !important;
}

// ol{
//   margin: 15px auto;
//   padding: 0;
//   width: 275px;
//   text-align: left;
// }

// ol > li::marker {
//   font-weight: bold;
// }





/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
